section.about#about
  .container.about__container
    .about__data-block
      include ./data-block
    .about__text-info
      p.about__text-hi.text Привет, меня зовут
      h2.about__text-name.title Игорь Бакин
      p.about__text-main.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      blockquote
        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
