mixin social(mod)
  -
    var social = [
      { icon: 'vk', link: 'https://vk.com/igorb_dev' },
      { icon: 'insta', link: 'https://instagram.com' },
      { icon: 'github', link: 'https://github.com/evil-star' }
    ]
  div(class="social-links" + ( mod ? " social-links_" + mod : ""))
    each item in social
      a(href=item.link target='_blank').social-links__link
        +icon(item.icon, 'social-links__icon')