header.welcome
  .fullscreen-section
    .welcome__text
      .welcome__text-wrap
        p.welcome__subtitle
          | Личный сайт
          br
          | веб разработчика
        h1.welcome__title
          | Бакин
          br 
          | Игорь
    .scroll-down
      .scroll-down__text Скролл
      .scroll-down__icon-wrap: +icon('scroll', 'scroll-down__icon')